[Desktop Entry]
Type=Application
Name=kuterm
GenericName=Terminal
Comment=highly configurable, gpu accelerated terminal
TryExec=kuterm
Exec=kuterm
Icon=kuterm
Terminal=false
Categories=System;TerminalEmulator;
Keywords=terminal;console;shell;command;command-line;cli;prompt;bash;sh;zsh;fish;tty;pty;
StartupWMClass=kuterm
Actions=NewWindow;

[Desktop Action NewWindow]
Name=Open New Window
Exec=kuterm
